article {
  height: 30rem;
  display: flex;
  flex-direction: row;
  border: 1px solid blue;
  margin: 15px 10px;
}

footer {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
